body {
    margin: 0;
    background-color: #9fe531;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 20px #da8fd7;
    position: relative;
    top: 50vh;
}

.controls i {
    cursor: pointer;
}

.slide {
    position: absolute;
    opacity: 0;
}

.slide img {
    width: 100vw;
}

.show {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}